/**
 *  @class          project-list
 *  @author         SOON_
 *  @description    overview of casestudies
 */

.project-list {

    .project {

        padding-top: 50px;

        .project-hero {
            left: -5%;
            max-width: 122%;
        }

        .vertical-center {
            position: relative;
            top: 0;
            transform: translateY(0);
        }

    }

}
