/**
 *  @class          type
 *  @author         SOON_
 *  @description    Place all styles for the the different type faces here
 */

h1 {
    font-size: 4.643em; // 65px
}

h2 {
    font-size: 2.57em; // 36px
    margin-bottom: 40px;
}

.section-heading {
    margin-bottom: 30px;
    margin-top: 60px;
}

p.large-copy-block {
    font-size: 1.714em; // 24px
}

p.medium-copy-block {
    font-size: 1.143em; // 16px
}

.nav-list > .nav-item > a {
    font-size: 1.714em; // 24px
}
