<div class="content container-fluid footer" id="contact" sn-fullscreen>
    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <sn-logo-parallax data-logo-style="light" data-section="contact"></sn-logo-parallax>
        </div>
        <div class="col-lg-8  col-lg-offset-2 col-md-8  col-md-offset-2  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <h1 class="section-heading">Say hello</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-2  col-lg-offset-4 col-md-2  col-md-offset-4 col-sm-3  col-sm-offset-0 col-xs-6 col-xs-offset-0">
            <p>Visit us:</p>
            <hr>
            <address>
                Unit 20<br>
                Second Floor<br>
                16-24 Underwood Street<br>
                London<br>
                N1 7JQ
            </address>
            <a href="https://twitter.com/soonlondon" target="_blank" class="btn btn-icon-sm">
                <img class="icon" src="img/icons/twitter.svg" alt="Twitter">
            </a>
            <a href="http://instagram.com/soonpics" target="_blank" class="btn btn-icon-sm">
                <img class="icon" src="img/icons/instagram.svg" alt="Instagram">
            </a>
            <a href="https://plus.google.com/b/114012135807837683266/+SOONLondon/about" target="_blank" class="btn btn-icon-sm">
                <img class="icon" src="img/icons/google-plus.svg" alt="Google Plus">
            </a>
        </div>

        <div class="col-lg-2  col-md-2  col-sm-3  col-xs-6">
            <p>Get in touch:</p>
            <hr>
            <p>
                <a href="mailto:hello@thisissoon.com">hello@thisissoon.com</a><br>
                <!-- <a href="tel:00442077398146" class="hidden-lg hidden-md hidden-sm">+44 (0)207 739 8146</a>
                <span class="hidden-xs">+44 (0)207 739 8146</span><br> -->
            </p>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-0 col-xs-offset-0">
            <p class="vertical-text small copyright">&copy; SOON London Ltd {{ "" | currentDate | date: "yyyy" }}</p>
        </div>

    </div>
</div>
