<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
           <sn-velocity-group data-keyframes="logoAnimation" class="logo" ng-include="'img/header/SOON.svg'"></sn-velocity-group>
        </div>
        <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <div ng-include="'partials/navbar.html'"></div>
        </div>
        <div class="nav-counter" ng-if="sections" ng-class="{ 'dark': (navStyle === 'dark'), 'light': (navStyle === 'light') }"></div>
    </div>
</div>

<div class="project-list">
    <div class="actions">
        <button class="btn btn-icon-sm icon-close" ng-click="toggleProjects($event)">
            <img class="icon icon-close" src="img/icons/close.svg">
        </button>
    </div>
    <article class="project container-fluid" ng-repeat="project in projects" ng-style="{ 'background-color': '{{ project.background_colour }}', 'color': '{{ project.text_colour }}' }">
        <a href ng-href="#/projects/{{ project.id }}" ng-click="toggleProjects()">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="vertical-center project-logo-container">
                       <img class="project-logo" ng-src="{{ project.project_logo.huge.replace('/media', 'http://localdocker/media') }}" alt="{{ project.title }}">
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1" >
                    <img class="project-hero" ng-src="{{ project.hero_image.huge.replace('/media', 'http://localdocker/media') }}"><br>
                    {{ project.introduction }}
                </div>
            </div>
        </a>
    </article>
</div>

