<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4  col-md-6 col-md-offset-4  col-sm-6 col-sm-offset-4  col-xs-12 col-xs-offset-0">
            <div ng-include="'partials/navbar.html'"></div>
        </div>
        <nav-counter></nav-counter>
    </div>
</div>

<div class="project-list">
    <div class="actions">
        <button class="btn btn-icon-sm icon-close" ng-click="toggleProjects($event)">
            <img class="icon icon-close" src="img/icons/close.svg">
        </button>
    </div>
    <article class="project container-fluid" ng-repeat="project in projects" ng-style="{ 'background-color': '{{ project.background_colour }}', 'color': '{{ project.text_colour }}' }">
        <a href ng-href="#/projects/{{ project.id }}" ng-click="toggleProjects()">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="vertical-center">
                       <img class="project-logo" ng-src="{{ project.logo }}" alt="{{ project.title }}">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                    <img class="project-hero" ng-src="{{ project.hero_image.hero }}"><br>
                    {{ project.introduction }}
                </div>
            </div>
        </a>
    </article>
</div>

