<div class="content" ng-style="{ 'background-color': 'rgba(' + getBackgroundColor() + ')' }">

    <div class="row">
        <div class="col-lg-6  col-lg-offset-4 col-md-6  col-md-offset-4 col-sm-6  col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <div class="section-heading">
                <p class="small">{{ currentTime.value | date:'h:mma'}}, London</p>
                <h1>Good<br>morning</h1>
            </div>
            <h2>We design and build digital products, services and brands.</h2>
        </div>
    </div>

</div>
