<div class="hero-video-container hidden-sm hidden-xs" soon-fullscreen="true">
    <video class="hero-video" loop muted>
        <source src="videos/loop.webm" type="video/webm">
        <source src="videos/loop.mp4" type="video/mp4">
    </video>
</div>
<section id="hero" class="hero" ng-include="'partials/home-hero.html'" soon-fullscreen offset="-100"></section>
<section id="project" class="project background-light" ng-include="'partials/home-project.html'"></section>
<section id="services" class="services background-yellow" ng-include="'partials/home-services.html'"></section>
<section id="about" class="about background-light" ng-include="'partials/home-about.html'"></section>
<section id="join" class="join background-blue" ng-include="'partials/home-join.html'"></section>
