<div class="container-fluid content">

    <div class="row">
        <div class="col-lg-8  col-lg-offset-4  col-md-8  col-md-offset-4  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <h1 class="section-heading">About</h1>
            <h2>We were brought together by a passion to make great digital things.</h2>
            <p>SOON_ was founded by <a href="https://www.linkedin.com/in/alexlight" target="_blank">Alex Light</a>, <a href="https://www.linkedin.com/in/fredflade" target="_blank">Fred Flade</a> and <a href="https://www.linkedin.com/in/gregatsoon" target="_blank">Greg Reed</a>, bringing together 60 years experience in digital from the partners alone.</p>
            <p>We firmly believe in an interdisciplinary approach with small teams working on projects from start to end. The end result is effective work that combines strategic thinking, great design, seamless technology and relevant content.</p>
        </div>
    </div>

</div>
