<div class="content container-fluid">

    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs logo-container">
            <sn-logo-parallax data-logo-style="light" data-section="hero"></sn-logo-parallax>
        </div>
        <div class="col-lg-8  col-lg-offset-2 col-md-8  col-md-offset-2  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <div class="section-heading">
                <p class="small">{{ currentTime.value | date:'H:mma'}}, London</p>
                <h1>
                    <span>{{ greeting }}</span>
                </h1>
            </div>
            <h2>We design and build digital products, services and brands.</h2>
        </div>
    </div>

</div>
