<nav soon-navbar class="navbar navbar-light navbar-fixed-top" ng-class="{ 'home': !cache.get('projectView'), 'projects': cache.get('projectView') }">

    <div class="navbar-header">
        <button type="button" class="btn btn-icon-sm navbar-toggle" ng-click="toggleNav($event)">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon icon-burger"></i>
            <span class="btn-label">Close</span>
        </button>
        <img class="navbar-brand" src="img/header/SOON.svg" height="45">
    </div>

    <div class="collapse navbar-collapse" ng-if="!cache.get('projectView')">
        <ul class="nav navbar-nav">
            <li ng-repeat="section in sections">
                <a href="#{{ section.id }}" data-nav-style="{{ section.navStyle }}" soon-scroll-to="{{ section.id }}" ng-click="navClick()" ng-if="section.id !== 'project'">
                    <span class="text">{{ section.title }}</span>
                </a>
                <a href ng-if="section.id === 'project'"ng-click="toggleProjects($event)"><!-- Casestudies -->
                    <i class="{{ section.icon }}"></i>
                    <span class="text">{{ section.title }}</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Project navigation -->
    <div class="collapse navbar-collapse" ng-if="cache.get('projectView')">
        <ul class="nav navbar-nav">
            <li><a href="#/" ng-click="navClick()"><span class="text">Home</span></a></li>
            <li>
                <a href ng-click="toggleProjects($event)">
                    <i class="icon-casestudies"></i>
                    <span class="text">All casestudies</span>
                </a>
            </li>
            <li ng-class="{ 'disabled': !prevProject }">
                <a href ng-href="#/projects/{{ prevProject }}" ng-if="prevProject"><span class="text">Previous</span></a>
                <a href ng-if="!prevProject"><span class="text">Previous</span></a>
            </li>
            <li class="active"><a href><span class="text">{{ currentProject }} / {{ projects.length }}</span></a></li>
            <li ng-class="{ 'disabled': !nextProject }">
                <a ng-href="#/projects/{{ nextProject }}" ng-if="nextProject"><span class="text">Next</span></a>
                <a href ng-if="!nextProject"><span class="text">Next</span></a>
            </li>
        </ul>
    </div>

</nav>
