<nav soon-navbar class="navbar navbar-light navbar-fixed-top" ng-class="{ 'home': !cache.get('projectView'), 'projects': cache.get('projectView') }">

    <div class="navbar-header">
        <button type="button" class="btn btn-icon-sm navbar-toggle" ng-click="toggleNav($event)">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon icon-burger"></i>
            <span class="btn-label">Close</span>
        </button>
        <img class="navbar-brand" src="img/header/logo.png" height="45">
    </div>

    <div class="collapse navbar-collapse" ng-if="!cache.get('projectView')">
        <ul class="nav navbar-nav">
            <li>
                <a href="#hero" data-nav-style="light" soon-scroll-to="hero" ng-click="navClick()">
                    <span class="text">Hello</span>
                </a>
            </li>
            <li><!-- Casetudies -->
                <a href ng-click="toggleProjects($event)">
                    <i class="icon-casestudies"></i>
                    <span class="text">Casestudies</span>
                </a>
            </li>
            <li>
                <a href="#services" data-nav-style="dark" soon-scroll-to="services" ng-click="navClick()"><span class="text">Services</span></a>
            </li>
            <li>
                <a href="#about" data-nav-style="dark" soon-scroll-to="about" ng-click="navClick()"><span class="text">About</span></a>
            </li>
            <li>
                <a href="#join" data-nav-style="light" soon-scroll-to="join" ng-click="navClick()"><span class="text">Join</span></a>
            </li>
            <li>
                <a href="#contact" data-nav-style="light" soon-scroll-to="contact" ng-click="navClick()"><span class="text">Contact</span></a>
            </li>
        </ul>
    </div>

    <!-- Project navigation -->
    <div class="collapse navbar-collapse" ng-if="cache.get('projectView')">
        <ul class="nav navbar-nav">
            <li><a href="#/" ng-click="navClick()"><span class="text">Home</span></a></li>
            <li>
                <a href ng-click="toggleProjects($event)">
                    <i class="icon-casestudies"></i>
                    <span class="text">All casestudies</span>
                </a>
            </li>
            <li ng-class="{ 'disabled': !prevProject }">
                <a href ng-href="#/projects/{{ prevProject }}" ng-if="prevProject"><span class="text">Previous</span></a>
                <a href ng-if="!prevProject"><span class="text">Previous</span></a>
            </li>
            <li class="active"><a href><span class="text">{{ currentProject }} / {{ projects.length }}</span></a></li>
            <li ng-class="{ 'disabled': !nextProject }">
                <a ng-href="#/projects/{{ nextProject }}" ng-if="nextProject"><span class="text">Next</span></a>
                <a href ng-if="!nextProject"><span class="text">Next</span></a>
            </li>
        </ul>
    </div>

</nav>
