<div class="content project-video padding-bottom container-fluid">
    <div class="row">
        <div class="col-lg-8  col-lg-offset-4  col-md-8  col-md-offset-4  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <div class="video-container">
                <iframe id="ytplayer"
                    class= "video-player"
                    type="text/html"
                    width="100%"
                    src
                    ng-src="{{ project.video }}"
                    frameborder="0"
                    allowfullscreen="true"
                ></iframe>
            </div>
        </div>
    </div>
</div>
