<div class="content container-fluid">

    <div class="row">
        <div class="col-lg-8  col-lg-offset-4  col-md-8  col-md-offset-4  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <div class="section-heading page-heading">
                <h1>{{ project.title }}</h1>
            </div>
            <h2>{{ project.introduction }}</h2>
            <img class="hero-image" ng-src="{{ project.hero_image.huge.replace('/media', 'http://localdocker/media') }}">
        </div>
    </div>

</div>
