<section id="hero"   class="project-hero"
        ng-style="{ 'background-color': project.background_colour, 'color': project.text_colour }"
        ng-include="'partials/project-hero.html'"
        soon-fullscreen>
</section>
<section id="project-description" class=""
        ng-style="{ 'background-color': project.tint_colour, 'color': project.text_colour }"
        ng-include="'partials/project-description.html'">
</section>
<section id="project-images" class=""
        ng-style="{ 'color': project.text_colour }"
        ng-include="'partials/project-images.html'">
</section>
<section id="project-stats" class=""
        ng-style="{ 'background-color': project.background_colour, 'color': project.text_colour  }"
        ng-include="'partials/project-stats.html'"
        soon-fullscreen>
</section>
<section id="project-share" class=""
        ng-style="{ 'background-color': project.tint_colour, 'color': project.text_colour  }"
        ng-include="'partials/project-share.html'">
</section>
