<div class="content container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-4 col-md-8 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <p>Sharing is caring:</p>
            <sn-addthis-toolbox class="addthis_custom_sharing" data-url="http://thisissoon.com/projects/{{ project.slug }}" data-title="{{ project.title }}" data-description="{{ project.introduction }}">
                <a href class="btn btn-share btn-facebook addthis_button_facebook" title="Facebook">
                    <i class="icon icon-facebook"></i>
                    <span class="share-text">Share</span>
                </a>
                <a href class="btn btn-share btn-twitter addthis_button_twitter" title="Tweet">
                    <i class="icon icon-twitter"></i>
                    <span class="share-text">Share</span>
                </a>
                <a href class="btn btn-share btn-google-plus addthis_button_google_plusone_share" title="Google Plus">
                    <i class="icon icon-google-plus"></i>
                    <span class="share-text">Share</span>
                </a>
                <a href class="btn btn-share btn-pinterest addthis_button_pinterest_share" title="Pin">
                    <i class="icon icon-pinterest"></i>
                    <span class="share-text">Share</span>
                </a>
            </sn-addthis-toolbox>
        </div>
    </div>
</div>
