<div class="content padding-bottom container-fluid">

    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <sn-logo data-style="{{ cache.get('navStyle') }}" data-section="hero"></sn-logo>
        </div>
        <div class="col-lg-8  col-lg-offset-2 col-md-8  col-md-offset-2  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <div class="section-heading page-heading">
                <h1>{{ project.title }}</h1>
            </div>
            <h2>{{ project.introduction }}</h2>
            <img class="hero-image" ng-src="{{ env.SERVER_ADDRESS + project.hero_image.huge }}">
        </div>
    </div>

</div>
