<div class="container-fluid content">

    <div class="row">
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs logo-container">
            <sn-logo-parallax data-logo-style="light" data-section="join"></sn-logo-parallax>
        </div>
        <div class="col-lg-8  col-lg-offset-2 col-md-8  col-md-offset-2  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
            <h1 class="section-heading">Join</h1>
            <h2>We’re actively looking for:</h2>
        </div>
    </div>

    <div class="row padding-bottom">
        <div class="col-lg-12 col-lg-offset-4 col-md-12 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <div class="row">
                <div
                    class="no-overflow"
                    ng-class="{ 'col-lg-2 col-md-2 col-sm-3 col-xs-12': jobs.length > 2, 'col-lg-4 col-md-4 col-sm-6 col-xs-12': jobs.length <= 2 }"
                    ng-repeat="job in jobs"
                >
                    <h6>{{ job.title }}</h6>
                    <hr>
                    <p>
                        {{ job.blurb }}
                        <br>
                        <a ng-href="{{ job.pdf }}" target="_blank" ng-if="job.pdf">View details</a>
                        <a ng-href="mailto:{{ job.email }}" ng-if="job.email">{{ job.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4  col-md-4 col-md-offset-4  col-sm-6 col-sm-offset-0  col-xs-12 col-xs-offset-0">
            <h6>Not seeing a role for you?</h6>
            <p>
                We’re always on the look out great people. If you have some epic work or experience to share then drop us a line at <a href="mailto:iheartsoon@thisissoon.com">iheartsoon@thisissoon.com</a> or follow us on <a href="//twitter.com/soonlondon" target="_blank">@soonlondon</a> for the latest roles.
            </p>
        </div>

        <div class="col-lg-4  col-md-4  col-sm-6  col-xs-12">
            <h6>A word to recruiters</h6>
            <p>
                We are not looking for new recruitment partners. We do work with agencies but we know who we like. Please do not contact us. Seriously. Step away from the keyboard.
            </p>
        </div>
    </div>

</div>
