<article class="content project-hero " ng-style="{ 'background-color': sticky.background_colour, 'color': sticky.text_colour }">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs logo-container">
               <sn-logo-parallax data-logo-style="{{ sticky.navStyle }}" data-section="project"></sn-logo-parallax>
            </div>
            <div class="col-lg-8  col-lg-offset-2 col-md-8  col-md-offset-2  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
                <h1 class="section-heading">Latest</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid-max-width">
        <div class="row">
            <div class="col-xs-12">
                <img class="hero-image" ng-src="{{ env.SERVER_ADDRESS + sticky.hero_image.huge }}">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8  col-lg-offset-4 col-md-8  col-md-offset-4  col-sm-12  col-sm-offset-0  col-xs-12  col-xs-offset-0">
                <h6>{{ sticky.title }}</h6>
                <p>{{ sticky.introduction }}</p>
                <br>
                <h2><a href ng-click="toggleProjects()">All casestudies</a></h2>
            </div>
        </div>
    </div>

</article>
