/**
 *  @class          header
 *  @author         SOON_
 *  @description    site header which contains navigation and project filter
 */

.header {
    color: @white;
    height: auto;
    left: 0;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 1;

    .logo {
        top: 254px;
        position: relative;
    }
}
