/**
 *  @class          hero
 *  @author         SOON_
 *  @description    styling for hero section which contains the main page heading
 */

.hero {
    .background-size(cover);
    background-repeat: no-repeat;
    background-position: center center;
    color: @white;
    overflow: hidden;
    position: relative;
    width: 100%;

    h2 {
        margin-top: 80px;
    }

    .section-heading {
        position: relative;
    }

    .content {
        background-image: url(../img/mock/hero.png);
        .background-size(cover);
        background-repeat: no-repeat;
        background-position: center center;
        margin: auto;
        padding-top: 60px;
    }

    .vertical-center {
        bottom: 0;
        left: 0;
        height: 220px;
        margin: auto;
        padding-left: 50px;
        padding-right: 50px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.hero-video-container {
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
