/**
 *  @class          logo
 *  @author         SOON_
 *  @description    logo styling
 */

sn-logo {
    a:link,
    a:hover {
        background-color: transparent;
    }
}

.logo {
    top: 78px;
    position: relative;

    & svg {
        max-width: 180px;
    }

    &.dark svg * {
        fill: #000000;
    }

    &.light svg * {
        fill: #FFFFFF;
    }

    .hero & {
        top: 206px;
    }
}

.logo-container {
    z-index: 49;
}
