/**
 *  @class          navbar
 *  @author         SOON_
 *  @description    main navigation
 */

nav.navbar {

    ul {
        height: 53px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
    }

    li {
        display: inline-block;
        height: 100%;
        position: relative;
    }

    li a {
        background-color: transparent;
        display: block;
        height: 100%;
        .transition(~"background 0.2s, color 0.2s");
        padding: 30px 29px 11px 5px;
    }

    li a i {
        display: block;
        position: absolute;
        top: 20px;
    }

    li a:hover,
    li a:active {
        background-color: @yellow;
        color: @black;
    }

    li.disabled {
        pointer-events: none;
    }

    li.active a {
        background-color: @white;
        color: @black;
    }
}

.navbar-light li a {
    color: @white;
}

.navbar-dark li a {
    color: @black;
}

.navbar-header {
    display: none;
    padding: 15px 40px;
}

.navbar-brand {
    display: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-fixed-top {
    left: inherit;
    right: inherit;
}

.navbar-show {
    .transition(top 0.5s);
}

.navbar-hide {
    .transition(top 0.1s);
    top: -53px;
}
