/**
 *  @class          project-hero
 *  @author         SOON_
 *  @description    project hero section
 */

.project-hero {

    .content {
        padding-bottom: 0;
        padding-top: 0;
    }

    .hero-image {
        margin-bottom: 40px;
        max-width: none;
        width: 100%;
    }

    .logo {
        top: 141px;
    }

}
