/**
 *  @class          project-hero
 *  @author         SOON_
 *  @description    project hero section
 */

.project-hero {

    .hero-image {
        margin-bottom: 40px;
        margin-left: 50%;
        margin-left: ~"calc(-50% - 20px)";
        max-width: none;
        width: 150%;
    }

    .project-view & .hero-image {
        margin-top: 40px;
    }

    .logo {
        top: 141px;
    }

}
