/**
 *  @class          project-images
 *  @author         SOON_
 *  @description    stacked project images
 */

.project-images {

    position: relative;
    color: @mid-grey;

    img {
        width: 100%;
    }

    .caption {
        width: 100%;

        p {
            margin-bottom: 40px;
            max-width: 700px;
        }
    }

}
