/**
 *  @class          project-list
 *  @author         SOON_
 *  @description    overview of casestudies
 */

.project-list {

    background-color: @dark-grey;
    display: none;
    left: 0;
    min-height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1100;

    .project-list-open & {
        display: block;
    }

    .project {
        position: relative;
        padding-bottom: 60px;
        padding-top: 100px;

        .project-logo-container {
            z-index: 99;
        }

        .project-hero {
            position: relative;
            left: -18%;
        }

        .project-desc {
            margin-top: 40px;
        }

        .vertical-center {
            bottom: 0;
            left: 0;
            margin-top: 50%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .project-hero {
        max-height: 315px;
    }

    a {
        background-color: transparent;
        color: inherit;
        padding: 0;
    }

    .actions {
        position: fixed;
        right: 0;
        z-index: 1000;

        .btn {
            margin: 0;
        }
    }
}

.overlay-mask {
    background-color: @dark-trans;
    height: 100%;
    position: relative;
    width: 100%;
}
