/**
 *  @class          colors
 *  @author         SOON_
 *  @description    Declare all colors for less here
 */


@black:             #000000;
@white:             #ffffff;

@yellow:            #fffd00;
@blue:              #23afe2;
@light-blue:        #d3eff9;

@dark-grey:         #999999;
@grey:              #e0dfda;
@dark-trans:        rgba(127, 127, 127, 0.56);
@light-trans:       rgba(255, 255, 255, 0.4);

@facebook-blue:     #000000;
@linkedin-blue:     #000000;
@twitter-blue:      #000000;
