.icon-casestudies {
    display: inline-block;
    width: 15px;
    &:before {
        content: "";
        display: block;
        height: 6px;
        width: 12px;
        border: 1px solid @white;
        .transition("border 0.2s");
    }
    &:after {
        position: absolute;
        margin-top: -9px;
        margin-left: 3px;
        content: "";
        display: block;
        height: 6px;
        width: 12px;
        border: 1px solid @white;
        .transition("border 0.2s");
    }

    li a:hover &:before,
    li a:hover &:after,
    li.active &:before,
    li.active &:after {
        border-color: @black;
    }

    .navbar-dark &:before,
    .navbar-dark &:after {
        border-color: @black;
    }

}
