/**
 *  @class          utilities
 *  @author         SOON_
 *  @description    helper classes to make mark up a bit neater
 */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.padding-bottom {
    padding-bottom: 30px;
}

.vertical-text {
    margin-top: 100%;
    padding-right: 40px;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}
